@import url(fonts.css);
@import url(vars.css);

html {
    background-image: url('/assets/img/background.jpg');
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1rem !important;
}

main {
    border: 2px var(--border-color) solid;
    background-color: var(--bkg-color);
    padding: var(--padding);
}
