@font-face {
  font-family: "Anonymous Pro"; /* set name */
  src: url("/assets/fonts/anon.woff2"); /* url of the font */
}
/* this adds in the anonymous pro nerd font cuz i like it */

html {
    color: var(--fnt-color);
    font-family: var(--fnt);
    font-weight: 350;
}

a {
    color: var(--lnk-color);
}

h1,
h2,
a,
.favorite {
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.linkicon {
	height: 15px;
}

.lfmtext {
    float: right;
    width: 900px;
}

.themes {
    display: flex;
    width: initial;
    p:hover {
        cursor: pointer;
    }
    li {
        flex: 1;
        margin: auto;
        text-align: center;
        border: 1px var(--fnt-color) solid;
    }
}

.xmr {
    max-width: initial;
    overflow: scroll;
}

.cover {
    height: 50px;
}
