body {
	color: green;
	background-color: black;
	font-family: monospace;

	margin: 0;
	padding: 0;
}

main {
	width: 40%;
	margin: auto;
}

a {
	color: green;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 5px;
	border: 1px green solid;
}
