@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    width: 60vw;
    height: 60vh;
    overflow: scroll;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    background-color: #2525257F;
    border: 1px dotted var(--fnt-color);
    border-radius: 8px;

    padding: 16px;
}

.bkg {
    position:absolute;
    left:0;
    top:0;
    z-index: -1;

    height: 100%;
    width: 100%;
    background-color: black;

    background-image: url('/assets/img/bkg.webp');
    background-repeat:no-repeat;
    background-size:cover;

    filter: blur(16px) brightness(50%);
}

hr {
    margin-top: 20px;
    border: 0.5px var(--fnt-color) dotted;
}

.nav {
    display: flex;
    width: 100%;
    padding-top: 5px;
    li {
        flex: 1;
        margin: auto;
        text-align: center;
        border: 1px var(--fnt-color) solid;
    }
}

.pet {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10vh;
    padding: 10px;
    border-radius: 16px;
}

.gallery {
    height: 100px;
    display: flex;
    overflow-x: scroll;
    overflow-y: clip;
}

.item {
    display: flex;
    align-items: center;
}

.text {
    padding: 10px;
    width: 125px;
}

@media only screen and (max-width: 1000px) {
    main {
        width: 100% !important;
    }
    pre {
        overflow-x: scroll;
    }
}