@import url(vars.css);
@import url(fonts.css);

html {
    background-color: var(--bkg-color);
}

main {
    margin: auto;
    width: 40%;
}

a {
    color: var(--lnk-color);
}





hr {
    margin-top: 20px;
    border: 0.5px var(--fnt-color) dotted;
}

.pet {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10vh;
    padding: 10px;
    border-radius: 16px;
}

.gallery {
    height: 100px;
    display: flex;
    overflow-x: scroll;
    overflow-y: clip;
}

#commits {
    height: 200px;
    overflow: scroll;
}

.item {
    display: flex;
    align-items: center;
}

.text {
    padding: 10px;
    width: 125px;
}
